@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* Mencegah scroll di TV agar tampilan tetap fit */
  overflow: hidden; 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* Animasi Gradient Bergerak untuk Background */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
}
